@model List<ContactQRModel>
<div class="container">
    <div class="row">
        <!--<div class="col-md-2">-->
            @*<partial name="_sidebar"/>*@
        <!--</div>-->
        <div class="col-12">
            <div class="row ml-auto">
                @foreach (var qr in Model)
                {
                <div class="col-md-3 col-lg-2 col-sm-6">
                    <partial name="_tagThumbnail" model="@qr" />
                    
                </div>
                }
                <div>
                    <a  asp-controller="QRCode" asp-action="ContactQRGenerator" class="ml-3"><i class="far fa-plus-square fa-10x align-middle"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>