@model ScanMyTag.Models.ContactQRModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetScannedQr</title>
</head>
<body>
    <h1>@Model.Contact</h1>
</body>
</html>




