
    <nav class="navbar navbar-expand-sm navbar-dark bg-success justify-content-end mb-5" style="color: white;  font-family: sans-serif;">
        @*<a class="navbar-brand" href="#"></a>*@
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-right">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="QRCode" asp-action="ContactQRGenerator">QR+ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="QRCode" asp-action="DashBoard">DashBoard</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>

                        </div>
                    </li>
                    @*<li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">Register <span class="sr-only">(current)</span></a>
                </li>*@



                </ul>
                <form class="form-inline   justify-content-end">
                    @*<input class="btn btn-outline-warning mr-sm-2" type="button" value="Login">*@
                    <partial name="_loggedInUserInfo" />
                </form>
            </div>
        </div>

    </nav>
